@import "tailwindcss";

*,
html {
    scroll-behavior: smooth !important;
    scrollbar-width: thin;
}

.page {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 4rem;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@keyframes intro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
