@import "tailwindcss";

.page {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 4rem;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@keyframes intro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
